<!DOCTYPE html>
<html ng-app="webrtcdemo">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
  <style>
    .ng-cloak { display: none }

    .ribbon-wrapper-green {
      width: 85px;
      height: 88px;
      overflow: hidden;
      position: absolute;
      top: -3px;
      right: -3px;
    }

    .ribbon-green {
      text-align: center;
      -webkit-transform: rotate(45deg);
      -moz-transform:    rotate(45deg);
      -ms-transform:     rotate(45deg);
      -o-transform:      rotate(45deg);
      position: relative;
      padding: 3px 0;
      left: -5px;
      top: 15px;
      width: 120px;
      background-color: #BFDC7A;
    }
    small {
      color: #999999;
      font-size: 60%;
    }
    h6 { margin: 0;}
  </style>
</head>
<body>


  <div class="ng-cloak" ng-controller="demoCtrl">


    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-danger" ng-hide="me.videoUrl">
          For this to be cool, you need to click the "yes you can use my webcam" button above
        </div>

        <div class="well" ng-hide="hideExplanation" style="font-size: 12px; padding: 10px">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="hideExplanation=true">&times;</button>

          <h4>What is this?</h4>
          <p>
            This is a demo of some things you can do with webRTC.
            <h6>What it does</h6>
            <ul>
              <li>
                First, it uses <a href="http://angularfire.com/">AngularFire</a> to connect
                to a real-time <a href="https://www.firebase.com/">Firebase</a> database to get a list of users on this page
              </li>
              <li>
                Then, it uses a service called <a href="http://peerjs.com">PeerJS</a>
                to simplify and abstract away some of the details of creating an
                RTCPeerConnection to ever other person viewing this page
              </li>
              <li>
                Then, using that RTCPeerConnection it establishes a RTCDataChannel
                w/ each peer, enabling communication of arbitrary data
                (in this case chat messages and file uploads)
              </li>
              <li>
                Then, using <a href="https://developer.mozilla.org/en-US/docs/Web/API/Navigator.getUserMedia">navigator.getUserMedia</a>
                it asks you to caputure your webcam and it also establishes a p2p
                video connection with every other person viewing this page
              </li>
              <li>
                It uses that video connection as the "live" avatar next
                to your name in your chat messages
              </li>
              <li>
                When you send a chat message or upload files, it sends it
                <em>directly</em> to each peer connected.  no messages,
                files, or video ever go through a server
              </li>
            </ul>
            TL,DR: video/text chat & p2p file sharing using <b>no servers</b>
            (except to get a list of who's online) and <b>no plugins (no flash)</b>
          </p>
          <p>
            <b><a href="https://github.com/ryankshaw/webRTC-demo/blob/master/js/demo.coffee">Read the Source</a> on github.</b>
            If you have any questions email me at my github username at gmail.
          </p>
        </div>

    </div>
    <div class="row">

      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">Online Users</div>
          <div class="panel-body">
            <div class="row" style="max-height: 400px; overflow: auto">
              <div style="max-width: 18%; margin-left:10px; float: left;">
                <div class="thumbnail" style="position: relative; height:150px">
                  <div class="ribbon-wrapper-green"><div class="ribbon-green">You</div></div>
                  <video
                    ng-show="me.videoUrl"
                    ng-src="{{me.videoUrl}}"
                    style="max-width: 100%"
                    autoplay="true"
                  ></video>
                  <img
                    style="max-width: 100%"
                    src="http://dummyimage.com/190x107/a6a6a6/000000&text=no+webcam"
                    ng-hide="me.videoUrl"
                  >
                  <div class="caption">
                    <input
                      type="text"
                      class="form-control input-sm"
                      style="height:20px"
                      ng-model="me.firebaseRef.name"
                      placeholder="Your Name"
                    >
                    <small>{{me.userId}}</small>
                  </div>
                </div>
              </div>
              <div style="max-width: 18%; margin-left:10px; float: left;" ng-repeat="user in peerConnections">
                <div class="thumbnail" style=" height:150px">
                  <video
                    ng-show="user.videoUrl"
                    ng-src="{{user.videoUrl}}"
                    style="max-width: 100%; max-height: 88px; margin: auto; display: block;"
                    autoplay="true"
                  ></video>
                  <img
                    style="max-width: 100%"
                    src="http://dummyimage.com/190x107/a6a6a6/000000&text=no+webcam"
                    ng-hide="user.videoUrl"
                  >
                  <div class="caption">
                    <h6>
                      {{user.firebaseRef.name}}
                    </h6>
                    <small>
                      <span style="font-size: 13px">
                        <i
                          class="fa fa-eye"
                          title="the webRTC video connection with this user is connected"
                          style="color:#5CB85C"
                          ng-show="user.mediaConn.open"
                        ></i>
                        <i
                          class="fa fa-eye-slash"
                          title="could not establish  webRTC video connection with this user"
                          style="color:#D9534F"
                          ng-hide="user.mediaConn.open"
                        ></i>
                        <i
                          class="fa fa-chain"
                          title="the RTCDataChannel connection with this user is open, chat & file sharing will work"
                          style="color:#5CB85C"
                          ng-show="user.dataConn.open"
                        ></i>
                        <i
                          class="fa fa-chain-broken"
                          title="could not establish a  RTCDataChannel connection with this user, chat & file sharing will NOT work"
                          style="color:#D9534F"
                          ng-hide="user.dataConn.open"
                        ></i>
                      </span>
                      {{user.userId}}
                    </small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">Shared Files</div>
          <div class="panel-body">
            <div class="row" id="file-uploads-holder" style="max-height: 400px; overflow: auto">
              <div class="col-sm-6 col-md-4" ng-repeat="file in files">
                <div class="thumbnail">
                  <div ng-switch on="file.type.substring(0,5)">
                    <img
                      ng-switch-when="image"
                      ng-src="{{file.url}}"
                      style="max-width: 100%"
                    >
                    <video
                      ng-switch-when="video"
                      ng-src="{{file.url}}"
                      style="max-width: 100%"
                      controls
                    ></video>
                    <audio
                      ng-switch-when="audio"
                      ng-src="{{file.url}}"
                      style="max-width: 100%"
                      controls
                    ></audio>
                  </div>
                  <div class="caption">
                    <h6><a ng-href="{{file.url}}" download="{{file.name}}">Download {{file.name}}</a></h6>
                    <p>
                      <small>{{file.size |bytes}}</small>
                      <small>from {{file.uploader.firebaseRef.name || message.uploader.userId}}</small>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <form>
              <label for="chatMessage">Share some files directly (p2p, not through any servers) w/ everyone on this page</label>
              <input
                type="file"
                onchange="angular.element(this).scope().uploadFiles(this.files);this.value='';"
                multiple
              />
            </form>
          </div>
        </div>
      </div>

    </div>




    <div class="panel panel-default">
      <div class="panel-heading">Chat</div>
      <div class="panel-body">
      <div id="chat-message-holder" style="max-height: 300px; overflow:auto">
        <div class="media" ng-repeat="message in chatMessages">
          <a class="pull-left" href="#">
            <video
              width="64"
              class="media-object img-thumbnail"
              ng-src="{{message.author.videoUrl}}"
              autoplay="true"
              ng-show="message.author.videoUrl"
            ></video>
            <img
              class="media-object img-thumbnail"
              src="http://dummyimage.com/64x64/a6a6a6/000000&text=no+webcam"
              ng-hide="message.author.videoUrl"
            >
          </a>
          <div class="media-body">
            <h4 class="media-heading">{{message.author.firebaseRef.name || message.author.userId}}</h4>
            {{message.message}}
          </div>
        </div>
      </div>
      <form novalidate ng-submit="postChatMessage()">
        <label for="chatMessage">Say Something</label>
        <input
          class="form-control"
          ng-model="chatMessage"
          id="chatMessage"
          placeholder="send a message directly (p2p) to to every person on this page"
          required
        >
      </form>
    </div>

  </div>

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.js"></script>
  <script src="http://cdn.peerjs.com/0.3.4/peer.js"></script>
  <script src="//cdn.firebase.com/v0/firebase.js"></script>
  <script src="//cdn.firebase.com/libs/angularfire/0.3.0/angularfire.min.js"></script>
  <script src="js/demo.js"></script>
</body>
</html>
